* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #000;
  color: #fff;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.setting {
  background: #102313;

  border: 1px solid #3f7c2d;

  padding: 18px;

  border-radius: 12px;

  margin-bottom: 12px;

  cursor: pointer;
}
